@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #d2f3d7,
    #b7eed8,
    #9be8dd,
    #7fe0e7,
    #69d7f2
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(0);
  transition: transform 0.3s ease-in;
}

.settings.hidden {
  transform: translateY(-100%);
}

#setting-form {
  padding: 10px;
}

#setting-form select {
  width: 200px;
  margin-left: 10px;
  background-color: #a7c5e3;
}

.container {
  background-color: #34495e;
  width: 500px;

  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
  text-align: center;
  color: #fff;
}

.container h2 {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.timer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container {
  margin-top: 10px;
}

#text {
  padding: 10px;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  width: 300px;
}

.setting-btn {
  padding: 2px 10px;
  position: fixed;
  bottom: 25px;
  left: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.try-Btn {
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
  border: 0;
  background-color: #5cdb5c;
}
