@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
  min-height: 100vh;
}

header {
  text-align: center;
  position: relative;
  background-color: #30336b;
  color: #fff;
  height: 250px;
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 100%;
  width: 800px;
}

.toggle {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.signup {
  font-size: 18px;
  padding: 10px 30px;
}

button {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: #be2edd;
  font-family: inherit;
  font-size: 14px;
}

h1 {
  margin-bottom: 20px;
}

#navbar {
  background-color: #30336b;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
}

#navbar .logo {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
}

#navbar ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.show-nav {
  transform: translateX(200px);
}

.nav-button {
  width: 100%;
  border-radius: 0;
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  height: 50px;
  background-color: #30336b;
  text-align: left;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #111;
  transition: background-color 0.3s ease;
}

.nav-button a {
  text-decoration: none;
  color: #fff;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 /30%);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
}

.modal-header {
  background-color: #30336b;
  color: #fff;
  padding: 15px;
  font-size: 20px;
}

.modal-content {
  padding: 15px;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}

/*Old form style*/
label {
  display: block;
  margin-bottom: 5px;
  color: #777;
}
input {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
  font-size: 14px;
  display: block;
}

.form-section input:focus {
  outline: 0;
  border-color: #777;
}

.form-section {
  margin-bottom: 10px;
}

.btn-submit {
  width: 100%;
  cursor: pointer;
  background-color: #30336b;
  border: 2px solid #30336b;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.form-section small {
  visibility: hidden;
}

.form-section.error small {
  visibility: visible;
  color: #e74c3c;
}

.form-section.success input {
  border-color: #2ecc71;
}

.form-section.error input {
  border-color: #e74c3c;
}

p {
  margin: 0;
  padding: 15px;
  font-size: 16px;

  font-weight: bold;
}
