@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9fafb;
  font-family: "open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formContainer {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  width: 400px;
  padding: 30px 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #777;
}
input {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
  font-size: 14px;
  display: block;
}

.form-section input:focus {
  outline: 0;
  border-color: #777;
}

.form-section {
  margin-bottom: 30px;
}

button {
  width: 100%;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.form-section small {
  visibility: hidden;
}

.form-section.error small {
  visibility: visible;
  color: #e74c3c;
}

.form-section.success input {
  border-color: #2ecc71;
}

.form-section.error input {
  border-color: #e74c3c;
}
